@font-face {
    font-family: "sacramento";
    src: url(./font/Sacramento.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(./font/Montserrat.ttf);
}

@font-face {
    font-family: "pinyon";
    src: url(./font/Pinyon.ttf);
}

@font-face {
    font-family: "oswald";
    src: url(./font/Oswald.ttf);
}

@font-face {
    font-family: "yeseva";
    src: url(./font/Yeseva.ttf);
}

@font-face {
    font-family: "bewitche";
    src: url(./font/Bewitche.ttf);
}

@font-face {
    font-family: "glamour";
    src: url(./font/GlamourActual.ttf);
}

@font-face {
    font-family: "karlina";
    src: url(./font/GlamourKarlina.otf);
}

@font-face {
    font-family: "bomiroRegular";
    src: url(./font/BomiroRegular.otf);
}

@font-face {
    font-family: "bomiroThin";
    src: url(./font/BomiroThin.otf);
}

@font-face {
    font-family: "bottuckey";
    src: url(./font/Bottuckey.ttf);
}

@font-face {
    font-family: "chunky";
    src: url(./font/ChunkyRetro.otf);
}

@font-face {
    font-family: "saguna";
    src: url(./font/Saguna.otf);
}

@font-face {
    font-family: "culture";
    src: url(./font/culture.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5004C;
    background: rgb(255, 0, 91);
    background-image: url("./img/background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px black;
    
}

#user {
    text-align: center;
    color: whitesmoke;
    font-family: culture;
    color: whitesmoke;
    padding: 0;
}

h1 {
    font-weight: normal;
    text-align: center;
    color: whitesmoke;
    font-family: bomiroRegular;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 415px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 2rem;
    }
}

.boxLogo {
    width: 100%;
    padding: 10px 0;
}

.imgLogo {
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 180px;
    border: 2px solid whitesmoke;
    padding: 10px;
}

.button {
    width: 140px;
    height: 140px;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    font-size: 120px;
    color: palevioletred;
    background-color: white;
    border-radius: 10px;
    font-family: oswald;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borderButton {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 3px;
}

p {
    text-align: center;
    padding: 0;
    margin: 5px 0;
    color: whitesmoke;
    font-family: bomiroRegular;
    font-size: 1.3rem;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.button:hover {
    -webkit-box-shadow: 9px 6px 10px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 9px 6px 10px 0px rgba(0, 0, 0, 0.63);
    transition: 300ms;
}

.buttonComTexto {
    flex-direction: column;
}

.iconShopee {
    color: #f7452e;
}

.iconWhats {
    color: #25d165;
}

.rodape {
    color: whitesmoke;
    font-size: 0.5rem;
}